
body{
    background-color: black;
    color: white;
  
 
}
h1{
    text-align: center;
    margin-top: 10%;
}
.center{
    display: flex;
  justify-content: center;
  align-items: center;
  
 
}

img{
    width:200px;
    height:200px;
    background-color: black;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
}
.btn button{
   padding: 10px 20px;
   border-radius: 50%;
   border: none;
   cursor: pointer;
}